// Брейкпоинты
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;

// Основные цвета
$brand: #518581;
$brand-active: #487773;
$brand-hover: #86aaa7;
$brand-disabled: #d9d9d9;

// Основные размеры
$space-xxxl: 32px;
$space-xxl: 24px;
$space-xl: 20px;
$space-l: 18px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 10px;
$space-xxxs: 8px;

// Цвета шрифта 
$text-primary: #000;
$text-secondary: #afadb5;
$text-accent: #518581;

// Тени
$shadow-light: 0 2px 5px 0 rgba(200, 200, 200, 0.25);
$shadow-normal: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
$shadow-bold: 0 4px 10px 0 rgba(0, 0, 0, 0.75);

// Остальное
$primary-bg: #f1f1f1;
$card-min-width: 300px;
$card-max-width: 600px;



// Переменные для section title
$section-title-base: 28px;
$section-title-mobile: 30px;
$section-title-tablet: 32px;
$section-title-laptop-up: 34px;

// Общие размеры элементов
$page-container-min-width: 320px;
$page-container-max-width: 1240px;
$page-container-width: 100%;
$page-container-padding-x: $space-xxs;

$control-field-heihgt: 42px;
$control-field-width: 300px;

$border-radius-primary: 4px;
$border-radius-secondary: 2px;


// Переменные Checkbox 
$checkbox-bg: #fff;
$checkbox-bg-hover: #fff;
$checkbox-bg-disabled: rgba(255, 255, 255, 0.5);

$checkbox-border-color: #fff;
$checkbox-border-color-hover: $brand;
$checkbox-border-color-disabled: rgba(255, 255, 255, 0);

$checkbox-check-color: $brand;
$checkbox-check-color-hover: $brand;
$checkbox-check-color-disabled: $brand-disabled;

$checkbox-size: $control-field-heihgt;


// Переменные Loader 
$loader-default-color: $brand;

