@use '@style/variables' as *;
@use '@style/mixins' as *;

$cross-size: 24px;
$cross-margin: calc(($control-field-height - $cross-size) / 2);
$filter-cross-right: 32px;
$input-right-padding: calc($cross-size + 2 * $cross-margin);

.search {
    @include content-container();
    display: flex;
    flex-direction: column;
    gap: $space-xl;
    width: 100%;
}

.filter,
.input,
.button {
    border-radius: $border-radius-secondary;
}

.filter {
    width: 100%;
    display: flex;
    gap: $space-xxs;
    align-items: center;

    @include mobile-up() {
        width: 325px;
    }

    &-cross {
        width: $control-field-height;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__icon {
            width: $cross-size;
            height: $cross-size;
            color: $brand;
            flex-shrink: 0;
        }
    }

    &-skeleton {
        @include pulse-gradient();
        height: $control-field-height;
    }

    &-dropdown {
        flex-basis: 100%;
    }
}

.query {
    display: flex;
    gap: $space-xxs;
    width: 100%;

    &-input {
        flex-basis: 100%;
        position: relative;

        &-element {
            input {
                padding-right: $input-right-padding;
            }
        }

        &-cross {
            position: absolute;
            top: $cross-margin;
            right: $cross-margin;
            width: $cross-size;
            height: $cross-size;
            color: $brand;
            cursor: pointer;
            flex-shrink: 0;
        }
    }

    &-button {
        padding: 0;
        width: $control-field-height;
        flex-shrink: 0;

        &:disabled {
            background-color: $brand-disabled;
            cursor: auto;
        }

        @include tablet-up() {
            padding: $space-xs $space-l;
            width: auto;
        }

        &__icon {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            padding: 0;
        }

        &__text {
            display: none;

            @include tablet-up() {
                display: inline-block;
            }
        }

        @include tablet-up() {
            display: flex;
            gap: $space-xxs;
        }
    }
}