@use '@style/variables' as *;
@use '@style/mixins' as *;


.button {
    display: flex;
    align-items: center;
    gap: $space-xs;
    height: $control-field-heihgt;
    color: $text-primary;
    border-bottom: 2px solid transparent;

    &:hover {
        color: $text-accent;
        border-bottom-color: $text-accent;
    }
    &_back {
        transform: rotate(180deg);
    }
}
